body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

form {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
