table {
	border: 2px solid #000;
	border-collapse: collapse;
	padding: 10px;
	margin: 10px;
	table-layout: auto;
}
th, td {
	border: 1px solid #000;
	padding: 8px;
	width: 15vw;
	text-align: center;
}
input{
	border: none;
	width: 15vw;
	outline: none;
}