#top{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 2rem;
	width: 100%;
}
/*
*{
	background-color: #37353E;
}*/

h1,h2{
	display: flex;
	width: 100%;
	justify-content: center;
	/*background-color: #715A5A;*/
	padding: 20px;
}

h3{
	display: flex;
	justify-content: center;
	padding: 10px;
	align-items: center;
}

h1,h2,h3,p{
	/*color: #D3DAD9;*/
}

#add{
	padding : 0.6rem;
	margin: 0.5rem;
}


#movie-list{
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: 80%;
}

.movies{
	display: flex;
	justify-content: space-around;
	border: 2px solid black;
	flex-direction: column;
	padding: 1rem;
	margin: 10px;
	/*background-color: #44444E;*/
}

/*.movies strong{
	background-color: #44444E;
	color: #D3DAD9;
}*/

.edit-btn,.delete-btn{
	border: 0.5 rem;
	padding: 10px;
}

input, #search-input{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 10px;
}

#movie-list{
	margin-top: 10px;
}